
body {/*DAMOS ESPACIADO INTERNO Y COLOR DE FONDO*/
  padding: 3vw;
 background-color: #b8daba;
}

/* Estilos para la barra de navegación */
.navbar {
  margin-bottom: 1vw;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 10px; 
  color: #000000; 
  margin: 0px; 
  max-height: 25%; 

}

/* Ajustes de color y degradado para el fondo del menú de navegación */
.back {
  background: linear-gradient(-45deg, green, #ffffff 76%, lightgreen 50%);
  color: #000000; /* Color de letra */
  background-color: black;
}

/* Estilo para la imagen del logo dentro del menú */
.container-fluid img {
  margin: 0.7vw;
  margin-right: 1vw;
}

h6{
  text-align: justify;
  padding: 20px;
}

/* Espaciado entre los elementos del menú de navegación */
.container-fluid li {
  margin: 0.5vw;
}

/* Efecto hover en los links del menú */
.container-fluid a:hover {
  background-color: white; /* Cambio de color de fondo al pasar sobre el link */
  border-radius: 1vw; /* Bordes redondeados */
  transform: scale(1, 1.3); /* Transformación de escala */
  transition: 0.3s ease; /* Transición suave */
}

.panel{
  margin-bottom: 6vw;
}

/* Estilo del título del sitio web en el menú de navegación */
#nombre {
  font-size: 1.6vw; /* Tamaño de fuente */
  color: #000000; /* Color de letra */
  text-decoration: none; /* Sin subrayado */
}

/* Estilos para el pie de página (footer) */
.holy-grail footer {
  background: #42032C; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  color: rgba(0, 0, 0, 0.699); /* Color de letra */
}

/* Estilos adicionales para el footer */
.pies {
  display: flex;
  background: linear-gradient(-45deg, lightgreen 55%, #ffffff 70%, green); /* Degradado */
  padding-top: 1vw;
  margin-top: 2vw;
  color: black;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


#logoinicio {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

