
body{/*DAMOS COLOR AL FONDO*/
	background: #b8daba;

}


.btn-primary a{/*DAMOS COLOR DE LETRA Y QUITAMOS LA LINEA INFERIOR DE LINK*/
text-decoration: none;
color: white;
}

.card {/*DAMOS FORMA AL BORDE*/
	border-radius: 5vw;
}

.card-body{/*DAMOS FORMA AL BORDE Y COLOR DE FONDO*/
	border-radius: 5vw;
	background:  linear-gradient(-45deg, grey, #ffffff 76%, lightgreen 50%);
}

.col-md-4{/*DAMOS MARGEN INFERIOR*/
	margin-bottom: 2vw;
}

#titulo{/*DAMOS ESPACIADO INTERNO, BORDE, ANCHO, COLOR DE FONDO, TAMAÑO DE LETRA, MARGEN*/
	padding: 1vw;
	border-radius: 5vw;
	width: 35vw;
	text-align: center;
	background-color: lightgray;
	font-size: 2vw;
	margin: 1vw;
}


.acordeon{/*DAMOS LOS PARAMETROS A LA CALSE ACORDEON, OCUPA EL 90% DEL ESPACIO DISPONIBLE, BORDE INTERNO DEFINIDO*/
  width: auto;
  height: auto;
padding: 1.5vw;
background-color: green;
text-align: center;
}
.acordeon .bloque{/*DAMOS COLOR AL FONDO DE CADA SECCIÓN DEL ACORDEON,COLOR DE BLOQUE, MARGEN DE 16PX, BORDE INTERNO*/
  background:  linear-gradient(-45deg, #F5F5DC, #ffffff 76%, #000080 50%);
  margin: 0 0 0.5vw;
  padding: 1vw;
  width: auto;
  height: auto;
}
.acordeon .h2{/*COLOR AL FONDO DE LOS H2 DEL ACORDEON Y OTROS PARAMETROS, MARGEN DE 16PX, BORDE INTERNO FIJO*/
  background-color: lightgray;
  margin: 0.6vw;
  padding: 0.5vw;
  border-radius: 5vw;
  font-size: 1.8vw;
}

/*CUANDO ES UN ENLACE DE LAMOS QUE OCUPE TODO EL ESPACIO Y LE DAMOS UN BORDE*/
.acordeon .h2 a{
  display: block;
  border-radius: 5vw;
}

/*CUANDO PASA SOBRE EL ELEMENTO CAMBIA COLOR DE FONDO, COLOR DE LETRA Y TAMAÑO DE OBJETO*/
.acordeon .h2 a:hover{
  background-color: black;
  color: white;
  transform: scale(1, 1.2);
  transition: 0.5s ease;
}
.acordeon .contenido{/*DETERMINAMOS LA ACCIÓN DEL CONTENIDO, CONTROLAMOS EL CONTENIDO DE MANERA QUE
 NO OCUPE ESPACIO Y PUEDA HACER UNA TRANSICIÓN */
  height: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
   transition: all 0.5s ease;
  flex-direction: column;
  gap: 1vw;
}
.acordeon .bloque.activo .contenido{/*CAMBIAMOS EL TAMAÑO DEL CONTENIDO DEPENDIENDO DE LA ACTIVACIÓN*/
  height: auto;
}