body {
    background: #b8daba;
}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.card {
    border-radius: 5vw;
}

.card-body {
    border-radius: 5vw;
    background: linear-gradient(-45deg, grey, #ffffff 76%, lightgreen 50%);
}

.col-md-4 {
    margin-bottom: 2vw;
}

#titulo {
    padding: 1vw;
    border-radius: 5vw;
    width: 35vw;
    text-align: center;
    background-color: lightgray;
    font-size: 2vw;
    margin: 1vw;
}
