/*CSS PARA CREAR ESTILO DEL PROGRAMA 3*/


/*DAMOS ESPACIADO INTERNO Y COLOR DE FONDO*/
body {
  padding: 3vw;
  background-color: #b8daba;
}

/*DAMOS MARGEN SUPERIOR Y COLOCAMOS UNA IMAGEN DE FONDO AL CARD PRINCIPAL P3*/
.contenedor-principal{
  margin-top: 2vw;
  background-image: url('../IMG/cine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


/*DAMOS MARGEN, BORDE Y TAMAÑO A LA IMAGEN DE LOGO DEL RESTAURANTE*/
.card-img img{
  margin-top: 1vw;
  border-radius: 10vw;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/*DAMOS MARGEN, ESPACIADO INTERNO Y ANCHO CARD*/
.cont-card{
  margin-left: 35%;
  margin-top: 2vw;
  width: 32vw; 
}

/*DAMOS TAMAÑO DE FUENTE Y MARGEN CARD*/
#titulo-card{
  font-size: 2vw;
  margin: 1vw;
}

/*DAMOS MARGEN Y TAMAÑO DE FUENTE CARD*/
#info-card{
  margin: 1vw;
  font-size: 1.3vw;
}

/*CAMBIAMOS EL DISEÑO DEL BOTON LIMPIAR*/
#limpiar {
  background-color: #0c6ffd;
  color: white;
  border:0px;
  width:80px;
  height:40px;
  border-radius: 4px;
}

/*CAMBIAMOS EL DISEÑO DEL BOTON ENVIAR*/
#enviar {
  background-color: #0c6ffd;
  color: white;
  border-radius: 4px;
  border:0px;
  width:80px;
  height:40px;border: none;
}